#text_id{
    height: 77vh;
}
/* #wrapper{
    background-image: url('..//../assets/images/bg_rasm.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */