body {
    font-family: "Roboto", sans-serif;
    background-color: #fff;
    overflow-x: hidden;
  }
  
  .layout_padding {
    padding: 75px 0;
  }
  
  .layout_padding2 {
    padding: 45px 0;
  }
  
  .layout_padding2-top {
    padding-top: 45px;
  }
  
  .layout_padding-top {
    padding-top: 75px;
  }
  
  .layout_padding-bottom {
    padding-bottom: 75px;
  }
  
  .layout_padding2-bottom {
    padding-bottom: 45px;
  }
  